*{
  box-sizing: border-box;
}

body {
  font-size: 18px;
  max-width:40em;
  margin:auto;
  padding:2em;
  font-family:"Helvetica Neue", sans-serif;
}

h1 {
  font-size: 3em;
}

ul {
  margin: 0 auto;
}

.showIfCurrentUser{
  display:none;
}

.callout{
  border:2px solid #ccc;
  border-radius: 3px;
  padding:0 1em;
  font-weight: bold;
}

.red {
  background: #ff3f2c;
  color: white;
  font-weight: bold;
}

.assignment-graph {
  margin-bottom: 1em;
  padding-left: 0;
}
.assignment-graph{
   padding:0;
}

.percent-complete {
  padding: 1em;
  background: green;
  color: white;
}

.project{
  border:2px solid #ccc;
  padding:1em;
  border-radius:3px;
}

.project h3{
  border-bottom:2px solid #ccc;
  margin-bottom:1em;
  padding-bottom:.75em;
}

.project :first-child{
  margin-top:0;
}
.project :last-child{
  margin-bottom:0;
}
